*{
	margin:0;
	padding:0;
	
}

#all{
	position: relative;
	margin-left: 10px;
	margin-top:10px;
}

#music{
	width:50px;
	height:50px;
	position: absolute;
	top:368px;
	left:0px;
	border-radius: 15px;
}

#set{
	width:50px;
	height:50px;
	position: absolute;
	top:368px;
	left:843px;
}

#youxi{
	position: absolute;
	top:425px;
	left:387px;
}

#intro{
	position: absolute;
	top:425px;
	left:0px;
}

#setPara{
	width:700px;
	height:350px;
	background: rgba(0,0,0,0.9);
	position: absolute;
	top:37px;
	left:94px;
	display:none;
	color:white;
}

.close{
	    position: absolute;
	    top: 15px;
	    right: 35px;
	    color: #f1f1f1;
	    font-size: 40px;
	    font-weight: bold;
	    transition: 0.3s;
	    cursor: pointer;
}
	
#myul li{
	list-style: none;
	float: left;
	cursor: pointer;
}

#myul li img{
	width:120px;
	height:60px;
	opacity: 0.5;
}

#myul li img:hover{
	opacity: 1;
}

#level li{
	list-style: none;
	float:left;
	width:100px;
	height:30px;
	background: indianred;
	margin-right:10px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	opacity: 0.8;
}

#level li:hover{
	opacity: 1;
}

#phb{
	position: absolute;
	top:0px;
	left:756px;
	cursor: pointer;
	border-radius: 10px;
}

#PH-all{
	width:200px;
	height:418px;
	background: red;
	position: absolute;
	top:0px;
	left:893px;
}

#fenshu{
	width:151px;
	height:53px;
	position: absolute;
	top:0px;
	left:0px;
	background: blue;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 53px;
}

#ming{
	width:151px;
	height:53px;
	position: absolute;
	top:60px;
	left:0px;
	background: blue;
	line-height: 53px;
	text-align: center;
}

#save{
	position: absolute;
	top:120px;
	left:0px;
}

#paihang{
	position: absolute;
	top:180px;
	left:0px;
}
.paihang{
	position: absolute;
	top: 203px;
	left: atuo;
}

#speed{
	margin:40px 0px 20px 110px;
}
#bgImg{
	margin-left: 110px;
	margin-top: 30px;
}
#setPara span{
	display: block;
	margin-bottom: 10px;
}
#PH-all{
	background-color: indianred;
	background-position: 220px -20px;
	display: none;
}
#fenshu{
	background-color: papayawhip;
	margin-left:25px ;
}
#ming
{
	background-color: papayawhip;
	margin-left:25px ;
}
#save
{
	background-color: papayawhip;
	margin-left:25px ;
	margin-top: 30px;
}
#paihang{
	background-color: papayawhip;
	margin-left:25px ;

}
#xxx{
	font-size:22px ;
	margin-left: 180px;
	cursor: pointer;
}
